
h1 {
    color:blue
}
p {
    background-color:white
    color: black;
}
#home {
    align-content: center;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
}
table, th, td{
    border : 1px solid black;
    border-collapse: collapse;
    padding : 10px;
    text-align: left;
}

table#t01 th{
    background-color: gainsboro;
    text-align: center;
}
td.down{
    color: blue;
}
td.up{
    color:red;
}
td.down1:nth-child(even) {
    background-color: blue;
    color : white;
}
td.up1:nth-child(even) {
    background-color: red;
    color : white;
}
p.down1 {
    text-align: center;
    padding: 3px;
    color:white;
    background-color: blue;
}
p.up1{
    text-align: center;
    padding: 3px;
    color: white;
    background-color: red;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;    
}
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #111111;
}

*{
    box-sizing: border-box;
}

.box{
    float: left;
    padding:10px;
    width: 179px;
    height: 200px;
    position: relative;
}

.webtoon{
    clear:both;
    display: table;
    content:"";
}
#head{
    color:white;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 18px;
}
#content{
    color:white;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.img{
    position: relative;
}

.tl{
    position: absolute;
    top: -4px;
    left: 10px;
    font-size: 14px;
    background-color: rgb(27, 190, 21);
    color:white;
    padding: 4px;
}

img{
    position: relative;
}

